@import url(https://db.onlinewebfonts.com/c/4fdae58bbe59b0a9bd3ee50f8fb3e693?family=SweetSans-Light);
*{
  font-family: 'SweetSans-Light';
  background-image: url("banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  
}

#root{
  height: 0;
}
.circle{
  height: 10px;
  width: 10px;
  background: #C3956B;
  border: 2px solid #C3956B;
  border-radius: 10px;
  margin-top: 6px;
  margin-right: 9px;
}
.circle_container{
  display: flex;
  flex-direction: row;
}

.navbar a{
  color:#C3956B;
  text-decoration: none;
  padding: 6px;
  
  
}

.navbar a.active{
  color: #101b2c;
  background: linear-gradient(to right,#c3966be2,#eaa565,#ffa959);
  border-radius: 4rem;
}

.disabled {
  color: gray;
  pointer-events: none;
  
}

.navbar ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 15rem;


}
.navbar h4{
  margin-right:  20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: aliceblue;
}
.navbar li{
  margin-right: 50px;
  font-size: 0.9rem;
}


.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  height: 50px;
}

.signup{
  background: url('./xxx2.svg') no-repeat center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
  background-color: rgba(210, 243, 243, 0.264);
  overflow: hidden;
  
}
.signup button{
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.425);
  margin-top: 1.5rem;
  background: linear-gradient(to right,#c3966be2,#eaa565,#ffa959);
  border-radius: 50px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  z-index: 1100;
  outline: none;
}
.Rewards{
  background: url('./rewards.svg') no-repeat center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1100;
  background-color: rgba(210, 243, 243, 0.264);
  overflow: hidden;
  
}

.Rewards h4{
  display: contents;
  padding-top: 40px;
}

.Rewards .inputx{

  color: black;
  margin-top: 12rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right,rgba(210, 243, 243, 0.179),#eaa565bf,rgba(210, 243, 243, 0.108));
  border-radius: 50px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  outline: none;
  z-index: 1100;
  border: 0;

}

.Rewards a{
  text-decoration: none;
  display: contents;
}
.Rewards button{
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.825);
  margin-top: 1.5rem;
  background: linear-gradient(to right,rgba(210, 243, 243, 0.179),#eaa565bf,rgba(210, 243, 243, 0.108));
  border-radius: 50px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  z-index: 1100;
  outline: none;
  border: 0;
}

.inputx{
  color: black;
  margin-top: 12rem;
  background: linear-gradient(to right,#c3966be2,#eaa565,#ffa959);
  border-radius: 50px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  outline: none;
  z-index: 1100;

}
.inputy{
  color: black;
  background: linear-gradient(to right,#c3966be2,#eaa565,#ffa959);
  margin-top: 1.5rem;
  border-radius: 50px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  outline: none;
  z-index: 1100;
}


.signup_page{
  position: fixed;
  top: 20vh;
  left: 10vw;
}
.signup_page h1{
  color: white;
  font-size: 2.8rem;
  width: 55vw;
  line-height: 4.5rem;
}
.signup_page h2{
  margin-top:20px;
  color:#C3956B;
  font-size: 2rem;
  width: 40vw;
  font-weight: bolder;
}
.signup_page_button1{
  margin-top: 40px;
  margin-right: 10px;
  padding-bottom: 7px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  height: 3rem;
  width: 11rem;
  background: linear-gradient(to right,#c3966be2,#eaa565,#ffa959);
 cursor: pointer;
}
.signup_page_button_container{
  display: flex;
  flex-direction: row;
}
.signup_page_button2{
  margin-left: 10px;
  margin-top: 40px;
  padding-bottom: 7px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  height: 3rem;
  width: 16rem;
  background: linear-gradient(to right,#c3966be2,#eaa565,#ffa959);
 cursor: pointer;
}



.about{
  position: relative;
  top: 20vh;
  left: 2vw;
  color: white;
  width: 50vw;
}










